{% extends 'base.html' %}
{% block title %}
Adverts list
{% endblock %}

{% block content %}


<table class="table table-hover table-dark">
    <thead>
    <tr>
        <!-- Your Columns HERE -->
        <th scope="col">seller</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Currency</th>
        <th scope="col">Options</th>

    </tr>
    </thead>
    <tbody>
    <!-- Your rows inside the table HERE: -->
    {% for advert in advert_list %}
    <tr>
        <td>{{ advert.seller }}</td>
        <td>{{ advert.product }}</td>
        <td>{{ advert.price }}</td>
        <td>{{ advert.currency }}$</td>
        <td>
            <button class="btn btn-outline btn-info">More Info</button>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<{% endblock %}