{% extends 'base.html' %}
{% block title %}
Adverts list
{% endblock %}

{% block content %}


<table class="table table-hover table-dark">
    <thead>
    <tr>
        <!-- Your Columns HERE -->

        <th scope="col" >Product</th>
        <th scope="col">Price</th>
        <th scope="col" >Location</th>
        <th scope="col">Options</th>

    </tr>
    </thead>
    <tbody>
    <!-- Your rows inside the table HERE: -->
    {% for advert in advert_list %}
    {% include 'includes/advert_modal.html' %}
    <tr>

        <td style="width:500px; word-wrap:break-word; display:inline-block">
            <a href="{{ advert.viewItemURL }}">
                {{ advert.title }}
            </a>
        </td>
        <td>{{ advert.price }}</td>
        <td >{{ advert.location}}</td>
        <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#advertModal{{ advert.key.flat_path[1] }}">
              More Info
            </button>
            <button type="button" class="btn btn-secondary" >
              Investigate
            </button>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<{% endblock %}