{% extends 'base.html' %}
{% block title %}
Keywords
{% endblock %}

{% block content %}
<div class="w-50 container-sm">

        <form method="POST" , class="form-register" ,style="color:white">
            {{ form.hidden_tag()}}
            <h2 class="h3 mb-3 font-weight-normal text-center">Create keywords for searching</h2>
            <br>

            {{ form.keyword1(class="form-control", placeholder="Search Keyword") }}
            <br>

            {{ form.keyword2(class="form-control", placeholder="Search keyword 2") }}

            <br>
            <div class= "col text-center ">
                {{ form.submit(class="btn btn-default btn-primary")}}
            </div>
        </form>

</div>

{% endblock %}