{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}

{% block content %}


<div class="w-50 container">
    <form method="POST"  class="form-register"  style="color:white">
        {{ form.hidden_tag()}}
        <h2 class="h3 mb-3 font-weight-normal text-center" ></h2>

        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder="UserName") }}

        {{ form.password.label() }}
        {{ form.password(class="form-control", placeholder="Password") }}


        <br>


        {{ form.submit(class="btn btn-lg btn-block btn-primary")}}
        <br>
        <br>
        <br>

         <div class="checkbox mb-3">
            <h6 style="font-size: 0.8rem">I don't have an account</h6>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('register') }}">Register</a>
        </div>

    </form>
</div>

{% endblock %}