<!-- Modal -->
<style>
          .modal-content{
            background-color: #212121
          }
</style>


      <div class="modal fade" id="advertModal{{ advert.key.flat_path[1] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title" id="ModalLabel">{{ advert.title }}</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Ebay Site :{{ advert.globalId }}</p>
              <p>Ebay Item ID :{{ advert.itemId }}</p>
              <p>Top rated Listing: {{ advert.topRatedListing }}</p>
              <img src="{{advert.galleryURL}}">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>